.container {
  padding: 10px 30px;
  display: flex;
  gap: 10px;

  .withoutDeleteButton {
    flex-grow: 1;

    .withoutForm {
      flex-grow: 1;
      display: flex;
      gap: 30px;

      .withoutEditButton {
        flex-grow: 1;
        text-align: justify;
        font-size: 14px;
        color: #555;
      }
    }
  }
}