.container {
  padding: 0px 20px;
  display: flex;
  gap: 10px;
  background: #fff;

  .withoutDeleteButton {
    flex-grow: 1;

    .withoutForm {
      flex-grow: 1;
      display: flex;
      gap: 30px;

      .withoutEditButton {
        flex-grow: 1;
        text-align: justify;
        color: #444;
      }
    }
  }
}