.container {
  padding: 5px 0px 5px 5px;
  display: flex;
  gap: 10px;

  .withoutDeleteButton {
    flex-grow: 1;

    .withoutForm {
      flex-grow: 1;
      display: flex;
      gap: 30px;

      .withoutEditButton {
        flex-grow: 1;
        display: flex;
        align-items: center;
        gap: 12px;
        color: #888;

        .number {
          min-width: 40px;
          font-size: 15px;
          text-align: center;
          color: #aaa;
          cursor: pointer;
          transition: all 0.15s ease-in-out;

          &:hover {
            color: #eee;
          }
        }

        .content {
          flex-grow: 1;
        }
      }
    }
  }
}